@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Crimson+Text|Roboto');

html {
  color: #333333;
  background-color: #ffffff;
  text-size-adjust: none;
}

body {
  margin: 0;
  font-family: 'Open Sans', 'Crimson Text', 'Roboto', sans-serif;
  font-size: 1rem;
  overflow-x: hidden;
}

code {
  font-family: 'Source Code Pro', Consolas, 'Ubuntu Mono', Menlo,
    'DejaVu Sans Mono', monospace, monospace;
  font-size: 0.875em;
}

a,
a:visited,
a:hover {
  color: blue;
  text-decoration: none;
}

.section {
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 0px;
}

.is-wrapped {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.has-wrapped-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu-list a,
.menu-list a:visited,
.menu-list a:hover {
  color: black;
  font-size: 0.8em;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 0px;
}

.hidden {
  display: none;
}

.container > .input:first-child {
  margin-bottom: 0.5em;
}

.container > h1:nth-child(3) {
  margin-top: 0;
}

#search-results p {
  margin-bottom: 0px;
}

#search-results li {
  margin: 0;
}

#search-results ul {
  list-style: none;
  margin-left: 0px;
  margin-top: 0px;
}

.level-2 {
  margin-left: 0.75em;
}

#search-header {
  font-weight: bold;
  font-size: 1em;
  padding: 18px 0 0 5px;
  color: #666;
}

#search-results {
  list-style: none;
  /* padding-left: 20px;*/
  /*padding-left: 0.75em;*/
}

.teaser {
  display: block;
  clear: both;
  margin: 5px 0 0 25px;
  font-size: 0.8em;
}

.content h1:not(:first-child) {
  margin-top: 0px;
}
