<!DOCTYPE HTML>
<html>
  <head>
    <!-- Book generated using Markbook -->
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#ffffff" />
  </head>
  <body>
    <h1>{{ title }}</h1>
    <main>
      {{{ content }}}
    </main>
  </body>
</html>
