@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Roboto');

html {
  font-family: 'Open Sans', sans-serif;
  color: #333333;
  background-color: #ffffff;
  text-size-adjust: none;
}

body {
  margin: 0;
  font-size: 1rem;
  overflow-x: hidden;
}

code {
  font-family: 'Source Code Pro', Consolas, 'Ubuntu Mono', Menlo,
    'DejaVu Sans Mono', monospace, monospace;
  font-size: 0.875em;
}

a,
a:visited,
a:hover {
  color: blue;
  text-decoration: none;
}

.section {
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 0px;
}

.is-wrapped {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.has-wrapped-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu-list a,
.menu-list a:visited,
.menu-list a:hover {
  color: blue;
}

.content p {
  font-family: 'Crimson Text', serif;
  /* font-family: "Roboto", sans-serif; */
}
